<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>Home</title>
</head>
<div th:replace="fragments/header :: header">&nbsp;</div>
<body>
<div class="container">
    <h3>Submissions</h3><a class="navbar-brand" th:href="@{/}"></a>
    <p>

        The gallery is currently accepting submissions by email only. Images should be in JPEG or PDF format, with a maximum of 5 images, or 3MB, whichever is greater.

        Please include “Artist Submission” and your name in the heading of your email.

        Submit to info@bluesummergallery.com.
    </p>

    <div id="aboutimage">
        <img th:src="@{./img/image3.jpg}" alt="homeimage"/>
    </div>


</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

<div th:replace="fragments/footer :: footer">&nbsp;</div>

</html>